{% extends "base_layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2 class="text-xl font-bold mb-4">Edit Parameters for <a href="./../..">{{ component.name }}</a></h2>

<form method="post" class="space-y-4">
  {% csrf_token %}

  <div id="formset-container">
    {% include "warehouse/parameters_edit_partial.html" %}
  </div>

  <div class="flex gap-4">
    <button type="submit" class="btn btn-primary">
      Save
    </button>
    <button type="button" class="btn btn-primary"
      hx-get="{% url 'component-parameters-add-row' component.id %}" 
      hx-target="#formset-container" 
      hx-swap="beforeend">
      Add Parameter
    </button>
    <a href="{% url 'component-detail' component.id %}" class="btn btn-danger">
      Cancel
    </a>
  </div>
</form>

{% endblock %}