<p-toast> </p-toast>

<button pButton icon="pi pi-microchip" class="p-button-text p-button-rounded" (click)="visible=true"></button>

<p-dialog header="Drivers management" [(visible)]="visible" [modal]="true" [closable]="true"
         [style]="{width: '90vw', maxWidth: '800px'}" [breakpoints]="{'768px': '100vw'}">
  <ng-template #header>
    <div class="flex items-center justify-between gap-2">
      <h2 class="font-semibold text-lg text-gray-800">Drivers management</h2>
      <i class="pi pi-refresh" style="cursor: pointer;" (click)="refreshDrivers()"></i>
    </div>
  </ng-template>

  <p-tabView>
    <!-- Driver Management Tab -->
    <p-tabPanel header="Drivers">
      <ni-driver-control-tab></ni-driver-control-tab>
    </p-tabPanel>

    <!-- Printer Settings Tab -->
    <p-tabPanel header="Printers">
      <ni-driver-printer-tab></ni-driver-printer-tab>
    </p-tabPanel>
  </p-tabView>
</p-dialog>
