[submodule "nextintranet_frontend/public/assets/electronic-symbols"]
	path = nextintranet_frontend/public/assets/electronic-symbols
	url = https://github.com/UniversalScientificTechnologies/electronic-symbols.git
