{% extends 'base_layout.html' %}

{% block content %}
<div class="container py-4">
  <div class="d-flex align-items-center mb-4">
    <button onclick="javascript:history.back()" class="btn btn-link text-secondary p-0 me-2">
      <i class="bi bi-arrow-left"></i>
    </button>
    <h1 class="h3 fw-bold text-dark">Item Details</h1>
  </div>
  <div class="row">
    <div class="col-lg-8">
      {% include 'warehouse/stock/detail/item_card.html' %}
      {% include 'warehouse/stock/detail/item_parameters.html'%}
      {% include 'warehouse/stock/detail/warehouse_stock.html'%}
      {% include 'warehouse/stock/detail/documents.html'%}
    </div>
    <div class="col-lg-4">
      {% include 'warehouse/stock/detail/pricing_information.html' %}
      {% include 'warehouse/stock/detail/suppliers.html' %}
      {% include 'warehouse/stock/detail/actions.html' %}
    </div>
  </div>
</div>

{% endblock %}
