{% extends 'base_layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="d-flex flex-grow-1">
    <aside class="bg-white col-md-3 p-4 border-end border-secondary-subtle shadow-sm rounded">
      <h2 class="h5 fw-bold mb-4">Filtry</h2>
      <div>
        <div>
        </div>
        <form method="get">
            {% csrf_token %}
            {{form | crispy}}            
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">
                    {% trans "Apply Filters" %}
                </button>
            </div>
        </form>
      </div>
    </aside>
    
    <div class="col-md-9 ps-4 min-vh-100">
        <div id="item-container">
            {% include 'warehouse/stock/component_list/item_card.html' with page=page %}
        </div>
    </div>
</div>

{% endblock %}
