table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.p-card-body {
  padding: 0;
}

/* Override global col-span styles - no internal scrolling */
:host ::ng-deep .col-span-8,
.col-span-8 {
  padding-right: 1rem;
  overflow: visible !important;
  height: auto !important;
}

:host ::ng-deep .col-span-4,
.col-span-4 {
  padding-left: 1rem;
  overflow: visible !important;
  height: auto !important;
}

/* Ensure component data container doesn't restrict height */
.component-data > div {
  height: auto !important;
}
