{% load format_uuid %}

<div class="card border border-secondary-subtle mb-4">
  <div class="card-body">
    <div class="d-flex">
      <!-- Obrázek -->
      <img
        src="{{item.primary_image |default:'https://placehold.co/300x300' }}"
        class="rounded shadow-sm w-25 object-fit-cover"
      />
      <!-- Informace -->
      <div class="ps-4 flex-grow-1">
        <h2 class="h4 fw-semibold text-secondary mb-2">
          {{ item.name }}
          <a href="./edit/" class="text-muted text-decoration-none" title="Edit item">
            <span class="material-icons small">edit</span>
          </a>
        </h2>
        <div class="text-body-secondary small d-flex align-items-center">
          <button
            @click="copyToClipboard(item.id)"
            class="btn btn-link text-muted p-0 me-1"
            title="Zkopírovat UUID"
          >
            <span class="material-icons small">content_copy</span>
          </button>
          {{ item.id | format_uuid }}
        </div>
        <!-- Kategorie -->
        <div class="text-secondary small fw-semibold mt-3">Kategorie</div>
        <div class="d-flex align-items-center mb-2">
          <span class="badge bg-primary-subtle text-primary d-flex align-items-center">
            <img :src="`http://t/icons/.svg`" class="h-100 me-1" style="width: 16px;" />
            {{ item.category.name }}
          </span>
        </div>
        <!-- Tagy -->
        <div class="text-secondary small fw-semibold mb-2">Tagy</div>
        <div class="d-flex flex-wrap gap-1">
          <span
            v-for="tag in item.tags"
            :key="tag"
            class="badge bg-secondary-subtle text-secondary fw-medium shadow-sm"
          >
            {{ tag }}
          </span>
        </div>
      </div>
    </div>
    <div class="bg-light p-3 rounded mt-3">
      <p class="text-dark text-wrap">{{ item.description }}</p>
    </div>
  </div>
</div>
