{% load i18n %}

<div id="item-container2">
{% for item in page.object_list %}
<div class="border-b border-gray-200 bg-gray-50 my-3 rounded-md">
    <!-- Header -->
    <div class="flex text-xs justify-between items-center p-4 bg-gray-50 py-1">
        <div class="text-xs text-gray-400 flex items-center">
            <span class="mr-2">{% trans "UUID" %}:</span> {{ item.id }}
            <button
                class="ml-2 text-blue-500 hover:text-blue-700"
                title="{% trans "Copy UUID" %}"
                onclick="navigator.clipboard.writeText('{{ item.id }}'); alert('{% blocktrans %}UUID copied: {{ item.id }}{% endblocktrans %}')"
            >
                <span class="material-icons text-sm">content_copy</span>
            </button>
        </div>
        <!-- Actions -->
        <div class="flex space-x-4">
            <button class="text-blue-500 hover:text-blue-700" title="{% trans "Edit" %}">
                <span class="material-icons">edit</span>
            </button>
            <button class="text-red-500 hover:text-red-700" title="{% trans "Delete" %}">
                <span class="material-icons">delete</span>
            </button>
        </div>
    </div>

    <!-- Item Content -->
    <div class="flex p-4 py-1">
        <!-- Image -->
        <img
            src="{{ item.primary_image_url|default:'https://placehold.co/300x300' }}"
            alt="{% trans "Item image" %}"
            class="w-24 h-24 object-cover rounded"
            onerror="this.src='https://placehold.co/300x300';"
        />
        <!-- Details -->
        <div class="flex-1 ml-4">
            <div class="flex justify-between items-center">
                <div class="flex">
                    <a href="/store/component/{{ item.id }}" target="_blank" class="mr-2 text-gray-400 hover:text-gray-600" title="{% trans "Open in a new tab" %}">
                        <span class="material-icons text-sm flex items-center justify-center">open_in_new</span>
                    </a>
                    <a href="/store/component/{{ item.id }}" class="text-blue-500 hover:text-blue-700">
                        <h2 class="text-lg font-bold">{{ item.name }}</h2>
                    </a>
                </div>
                <span class="text-xs bg-gray-200 px-2 py-1 rounded flex items-center">
                    <span class="material-icons text-sm mr-1">category</span> {{ item.category.name }}
                </span>
            </div>
            <div class="mt-1">
                {% for tag in item.tags.all %}
                <span class="text-xs bg-blue-100 text-blue-800 px-2 py-1 rounded mr-1">{{ tag.name }}</span>
                {% endfor %}
            </div>
            <p class="mt-2 text-sm text-gray-600">{{ item.description }}</p>
            <span class="text-xs px-2 py-1 rounded">
                {% trans item.get_status_display %}
            </span>
        </div>

        <!-- Prices and Stock -->
        <div class="ml-2 pl-2 text-sm border-l-2">
            <div class="mb-2">
                <p class="flex items-center text-gray-800">
                    <span class="material-icons text-blue-500 mr-2">attach_money</span>
                    {% trans "Public price" %}:
                    <span class="ml-2 font-bold">{{ item.selling_price }} Kč</span>
                </p>
                <p class="flex items-center text-gray-800">
                    <span class="material-icons text-green-500 mr-2">price_change</span>
                    {% trans "Internal price" %}:
                    <span class="ml-2 font-bold">{{ item.internal_price }} Kč</span>
                </p>
            </div>
            <div>
                <p class="flex items-center text-gray-800">
                    <span class="material-icons text-yellow-500 mr-2">inventory</span>
                    {% trans "In this warehouse" %}:
                    <span class="ml-2 font-bold">{{ item.stock_local }}</span>
                </p>
                <p class="flex items-center text-gray-800">
                    <span class="material-icons text-orange-500 mr-2">store</span>
                    {% trans "In all warehouses" %}:
                    <span class="ml-2 font-bold">{{ item.stock_total }}</span>
                </p>
                <p class="flex items-center text-gray-800">
                    <span class="material-icons text-red-500 mr-2">local_shipping</span>
                    {% trans "At supplier" %}:
                    <span class="ml-2 font-bold">{{ item.stock_supplier }}</span>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>


{% if page.has_next %}
<div class="text-center py-4" id="loading-button">
<div>
    <p class="text-gray-600 text-sm pb-2">
        Displaying 1 - <span class="font-bold">{{ page.end_index }}</span> of <span class="font-bold">{{ page.paginator.count }}</span> items
    </p>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
hx-get="?page={{ page.next_page_number }}&q={{ request.GET.q|urlencode }}"
hx-target="#loading-button"
hx-source="#item-container2"
hx-swap="outerHTML"
hx-trigger="click reveal"
>
Load more items ... page: {{ page.next_page_number }}
</button>
</div>
{% else %}
<div class="text-center py-4">
    <p class="text-gray-500 text-sm">
        No more items to load.
    </p>
</div>
{% endif %}



