{% load i18n %}
{% load format_uuid %}

<div id="item-container">
    {% for item in page_obj %}
        <div class="border-bottom border-secondary-subtle bg-light my-3 rounded shadow-sm">
            <div class="d-flex justify-content-between align-items-center p-3 bg-light">
                <div class="text-secondary small d-flex align-items-center">
                    <span class="me-2">{% trans "UUID" %}:</span> {{ item.id | format_uuid }}
                    <button
                        class="btn btn-link text-primary p-0 ms-2"
                        title="{% trans "Copy UUID" %}"
                        onclick="navigator.clipboard.writeText('{{ item.id }}'); alert('{% blocktrans %}UUID copied: {{ item.id }}{% endblocktrans %}')"
                    >
                        <i class="bi bi-clipboard"></i>
                    </button>
                </div>
                <div class="d-flex gap-2">
                    <button class="btn btn-link text-primary p-0" title="{% trans "Edit" %}">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-link text-danger p-0" title="{% trans "Delete" %}">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>

            <div class="d-flex p-3">
                <img
                    src="{{ item.primary_image |default:'https://placehold.co/300x300' }}"
                    alt="{% trans "Item image" %}"
                    class="rounded"
                    width="100"
                    height="100"
                    onerror="this.src='https://placehold.co/300x300';"
                />
                <div class="flex-grow-1 ms-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex">
                            <a href="/store/component/{{ item.id }}" target="_blank" class="me-2 text-secondary text-decoration-none">
                                <i class="bi bi-box-arrow-up-right"></i>
                            </a>
                            <a href="/store/component/{{ item.id }}" class="text-primary text-decoration-none">
                                <h2 class="h6 fw-bold">{{ item.name }}</h2>
                            </a>
                        </div>
                        <span class="badge bg-secondary-subtle text-secondary d-flex align-items-center">
                            <i class="bi bi-tags me-1"></i> {{ item.category.name }}
                        </span>
                    </div>
                    <div class="mt-1">
                        {% for tag in item.tags.all %}
                        <span class="badge bg-primary-subtle text-primary">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                    <p class="mt-2 text-muted small">{{ item.description }}</p>
                    <span class="badge bg-info-subtle text-info">
                        {% trans item.get_status_display %}
                    </span>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="text-center py-4">
            <p class="text-muted small">
                No more items to load.
            </p>
        </div>
    {% endfor %}
</div>
<div id="item-control">
     
<span class="htmx-indicator">
    <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</span>


{% if page_obj.has_next %}
    <div id="load-more-container" class="text-center py-4">
        <button id="load-more-button" class="btn btn-primary"
            hx-get="?page={{ page_obj.next_page_number }}&{{ query_string }}"
            hx-target="#item-control"
            hx-swap="outerHTML"
            hx-trigger="revealed"
            hx-target="#item-control"
            hx-indicator=".htmx-indicator">

            Load more...
        </button>
       
    </div>
{% endif %}

{% if page_obj.paginator.num_pages > 1 %}
    <div class="d-flex justify-content-center align-items-center my-4">
        <nav aria-label="{% trans 'Page navigation' %}">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1&{{ query_string }}">
                            <i class="bi bi-chevron-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ query_string }}">
                            <i class="bi bi-chevron-left"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link"><i class="bi bi-chevron-double-left"></i></span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link"><i class="bi bi-chevron-left"></i></span>
                    </li>
                {% endif %}
                
                <li class="page-item active">
                    <span class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ query_string }}">
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ query_string }}">
                            <i class="bi bi-chevron-double-right"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link"><i class="bi bi-chevron-right"></i></span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link"><i class="bi bi-chevron-double-right"></i></span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}
</div>